body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #020617;
    color: #ffffff;
    font-family: 'Noto Sans Mono', 'Ubuntu Sans Mono', monospace;
}

section {
    width: 100%;
    flex-direction: column;
}

h1 {
    font-weight: 100;
    font-size: 1.7em;
    font-weight: bold;
}

h1:hover {
    cursor: default;
}

a {
    color: #ffffff;
    text-decoration: none;
}

img {
    max-width: 450px;
}

footer {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

/* Structure classes */
.about {
    align-items: center;
}

.about-buttons {
    width: 90%;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 75px;
}

.column {
    flex-direction: column;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-center-between {
    justify-content: space-between;
    align-items: center;
}

.flex-center-vertical {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.m-t-auto {
    margin-top: auto;
}

.row {
    flex-direction: row;
}

/* Elements classes */
.button {
    position: relative;
    display: inline-block;
    width: calc(100% - 4rem);
    /* 4rem = 2 * 2rem (body margin) */
    padding: 5px 30px;
    border-radius: 15px;
    background: linear-gradient(90deg, #60a5fa, #34d399);
    text-align: center;
    color: white;
    z-index: 1;
    transition: transform 0.5s;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.button:first-child {
    margin-right: 1rem;
}

.button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    background: #020617;
    margin: 2px;
    z-index: -1;
}

.button:hover::before {
    background: transparent;
}

.description {
    margin-bottom: 4.5rem;
    text-align: center;
}

.gradient-text {
    background: linear-gradient(90deg, #60a5fa, #34d399);
    color: transparent;
    background-clip: text;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    width: 100%;
    border: 1px solid #60a5fa;
    border-radius: 15px;
    padding: 0 1rem 1rem 1rem;
}

.project-title {
    font-weight: bold;
}

.project-types {
    margin-bottom: 1rem;
}

.project-type {
    padding: 10px 15px;
    margin: 0 10px 5px 0;
    border: 1px solid #60a5fa;
    border-radius: 15px;
    color: #ffffff;
}

.project-type.active {
    background: #60a5fa;
    color: #020617;
}

.project-type:hover {
    cursor: pointer;
    background: #60a5fa;
}

.project-type p {
    margin: 0;
}

.project-tag {
    border-radius: 5px;
    background: #34d399;
    padding: 0 5px;
    margin: 0 5px 5px 0;
}

.title {
    margin-bottom: 0;
}

/* Media Queries */
@media screen and (min-width: 375px) {
    body {
        margin: 0 2rem;
    }

    h1 {
        font-size: 1.9em;
    }
}

@media screen and (min-width: 425px) {
    h1 {
        font-size: 4em;
    }

    .about-buttons {
        flex-direction: row;
        justify-content: center;
    }

    .button {
        width: 100px;
    }

    .description {
        text-align: left;
    }
}

@media screen and (min-width: 768px) {
    .project {
        flex-basis: calc((100% - 24px - 4rem) / 2);
        /* 40px = 1 gap (20px) + 4 borders (1px) + 4 paddings (1rem) */
    }

}

@media screen and (min-width: 1000px) {
    body {
        margin: 0 7.5rem;
    }

    section {
        flex-direction: row;
        min-height: 100vh;
    }

    img {
        max-width: 600px;
    }
    
    .about-buttons {
        justify-content: start;
        margin-bottom: 0;
    }

    .column {
        width: 100%;
    }

    .about {
        align-items: start;
    }
}

@media screen and (min-width: 1200px) {
    .project {
        flex-basis: calc((100% - 46px - 6rem) / 3);
        /* 46px = 2 gaps (20px) + 6 borders (1px) + 6 paddings (1rem) */
    }
}

@media screen and (min-width: 1440px) {
    body {
        margin: 0 10rem;
    }
}